body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display:none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  position: relative;
  top: -332px;
  left: 600px;
  display: none;
  float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hadouken {
	background-repeat: no-repeat;
}

.all-text {
	width: 1000px; 
  	height: 502px;
  	padding-top: 10px;
	/* position: relative;
	top: -498px;
	left: 600px;
	display: block; */
	float: right;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	text-align: justify;
}

.throw-instruction {
	margin-right: 550px;
	margin-top: 75px;
	display: block;
	position: absolute;
}

.pose-instruction {
	margin-left: 400px;
	margin-top: 272px;
	display: block;

}














/* .top-black {
	background-color: black;
	height: 150px;
}

.mid-white {
	height: 665px;
	color: white;
	border-top: solid red 10px;
	border-bottom: solid red 10px;
}

.bottom-black {
	background-color: black;
	height: 300px;	
}

.ryu-ready {
	border: solid blue 5px;
	height: 655px;
	margin-left: 200px;
}

 */